<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Beauty Shop</title>
</head>

<body>
    <header>
        <h1>Welcome to the Beauty Shop</h1>
       
            <ul>
         <% for(let i = 0; i < services.length; i++){ %>  
            <li>
                <a href="/Home/<%=services[i]._id %>"><%= services[i].name%></a>
            </li>
               <span> <form action="/Home/<%=services[i]._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
       </form>
        <% } %>
        </ul>
        <!-- <a href="/Home/">Edit</a></span> -->
    
        <nav>
            <a href="/Home/new">Add your service here</a>  
        </nav>
    </header>
</body>

</html>