<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Shop</title>
</head>
<body>
    <h1>Book a new service</h1>
    <form action= "/Home/" method = "POST">
        <input type="text" name="name" placeholder="service name"><br>
        <input type="text" name="description" placeholder="service type"><br>
        <input type="number" name="category"  placeholder="service time"><br>
        <input type="text" name="img" value="date"><br>
        <input type= "submit" value ="add service">
      
        <style>
            body {
                background-color: #ee6e73;
            }
            
               
        </style>
</body>


</html>